networks:
  catamongo.net:
    driver: bridge

services:
  php:
    build:
      context: build
      dockerfile: 8.3-cli.Dockerfile
    ports:
      - "12080:80"
      - "12443:443"
    volumes:
      - ./app:/var/php
    working_dir: /var/php
    networks:
      - catamongo.net
    command: php -S 0.0.0.0:80 -t /var/php/public

  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
    networks:
      - catamongo.net

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    ports:
      - "8081:8081"
    depends_on:
      - mongo
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_PORT: 27017
    networks:
      - catamongo.net
